@charset "UTF-8";

body {
    padding-left: 5%;
    background-color: aqua;
}
h1 {
    color: navy;
}
p {
    text-decoration: underline;
    padding-top: 2%;
    padding-left: 3%;
    font-size: 23px;
}
ul {
    justify-content: center;
    list-style: none;
    background-color: aquamarine;
    width: 200px;
    border-radius: 10%;
}